<div class="wrapper">
  <div class="toolbar">
    <button (click)="toggleCheckboxColumn(!isCheckboxColumnVisible)">Hide/Show Checkbox column</button>
    <button (click)="getSelectedRows()">Alert nodes with selected rows</button>
    <app-selected-items
      [selectedItems]="selectedItems"
    ></app-selected-items>
  </div>
  <ag-grid-angular
      #agGrid
      style="width: 1024px; height: 768px;"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      rowSelection="multiple"
      (gridReady)="onGridReady($event)"
      (selectionChanged)="onSelectionChanged($event)"
  >
  </ag-grid-angular>
</div>
